<!DOCTYPE html>
<html>
<head>
    <title>TAPTEMPO</title>
</head>
<body>
    <h1>Tempo</h1>
    <p class="lead" style="font-size: 42px;"><span id="tempo">{{curTempo}}</span></p>
    <form role="form" method="post" onsubmit="return false">
        <button type="submit">TAP</button>
    </form>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>